## list here files and folders for git to ignore
c*/
*.x
tests/*.dat
tests/scn*
tests/screen*
scripts/*.dat
scripts/*.eps
scripts/*.png 
doc/*eps-converted-to.pdf
doc/main.aux
doc/main.bbl
doc/main.blg
doc/main.log
doc/main.pdf